@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

$colors: (
    "primary" : $clr-primary,
    "gray" : $clr-gray,
    "black" : $clr-black,
);

@each $key, $val in $colors{
    .bg {
        &--#{$key}{
            background-color: $val;
        }
    }

    .text {
        &--#{$key}{
            color: $val;
        }
    }

    .btn.bg--#{$key}{
        @include btn($val);
    }

    .btn1.bg--#{$key}{
      @include btn1($val);
    }
}

$align: (
  "center": center,
  "left": left,
  "right": right,
  "justify": justify,
);

@each $key, $val in $align {
  .text {
    &--#{$key} {
      text-align: $val;
    }
  }
}

$justify: (
  "start": flex-start,
  "center": center,
  "end": flex-end,
  "between": space-between,
  "around": space-around,
);

@each $key, $val in $justify {
    .justify {
        &--#{$key}{
            justify-content: $val;
        }
    }
}

$displays: flex, grid, block, inline-block, inline, none;
@each $display in $displays{
    .d--#{$display}{
        display: $display;
    }
}

$alignments: (
  "start": flex-start,
  "center": center,
  "end": flex-end,
  "none": none,
);

@each $key, $val in $alignments {
  .align {
    &--#{$key} {
      align-items: $val;
    }
  }
}

@for $i from 1 through 10 {
    .mb--#{$i}{
        margin-bottom: $i + rem;
    }
}

@for $i from 1 through 10 {
  .mt--#{$i}{
      margin-top: $i + rem;
  }
}